---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AboutSection from '@/components/sections/AboutSection.astro';
import CapabilitiesSection from '@/components/sections/CapabilitiesSection.astro';
import ContactSection from '@/components/sections/ContactSection.astro';
import EducationSection from '@/components/sections/EducationSection.astro';
import ExperienceSection from '@/components/sections/ExperienceSection.astro';
import HeroSection from '@/components/sections/HeroSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
---

<BaseLayout>
  <main id="main-content">
    <HeroSection />
    <AboutSection />
    <CapabilitiesSection />
    <ExperienceSection />
    <ProjectsSection />
    <EducationSection />
    <ContactSection />
  </main>
</BaseLayout>
